<div class="container">
    <header class="my-4">
        <h1 class="text-center">Bus Booking System</h1>
    </header>
</div>

<!-- Search Form -->

<section>
    <div class="container-fluid mt-5 d-flex justify-content-center">
        <form class="search-form d-flex align-items-center shadow-lg">
            <div class="row w-100 text-white">
                <div class="col-md-3 d-flex align-items-center">
                    <div class="input-group">
                        <span class="input-group-text"><i class="bi bi-bus-front"></i></span>
                        <select class="form-select" name="fromLocation">
                            <option value="" selected>From Location</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-1 text-center d-flex align-items-center justify-content-center">
                    <i class="bi bi-arrow-left-right fs-3"></i>
                </div>
                <div class="col-md-3 d-flex align-items-center">
                    <div class="input-group">
                        <span class="input-group-text"><i class="bi bi-bus-front"></i></span>
                        <select class="form-select" name="toLocation">
                            <option value="" selected> To Location</option>

                        </select>
                    </div>
                </div>
            </div>
        </form>
    </div>

</section>